
<style>
/*first column second grid*/
#cards
{
	
	padding-bottom:0px;
	margin-top: -5px;
}
/*footer styling*/
#footer
{
	height: 50px;
	text-align: center;
	background:#229182;
	font-size: 30px;
}
footer ul li{
	display: inline;
}
/*search bar styling*/
#prompt{
	margin-top: 6px;
}
/*jumbotron styling*/
#image{
      
       width: 100%;
       height: 620px;

}
 /*for the three cards in the last grid*/
#fluidimage{
	margin-top: 10px;
	background: #ff0239;
	width: 101.5%;
}
/*first grid with three columns*/
.column{
	/*height:370px;*/
}

#column1
{
   background:#f5efef;
   font-size: 30px;
   border-radius: 5px;
}
#column2
{
   background:#10d1c7;
   
}
#column3
{
   background:#10d1c7;
   
}
/*second and third column of second grid*/
#column01
{
	background:#21ede2;
}
/*first column second grid*/
#column02{
      background:#21ede2;

}
#column002{
	margin-top: 1px;
	margin-bottom: 1px;
}
/*third column first grid*/
.row1
{
	background:white;
	border-radius: 5px;
	margin-right: 12px;
	margin-top: 10px;
	height: 50px;
}
.row2
{
	background: white;
	border-radius: 5px;
	margin-right: 12px;
	margin-top: 35px;
	height: 50px;
}
.row3
{
	background: white;
	border-radius: 5px;
	margin-right: 12px;
	margin-top: 35px;
	height: 50px;
}
/*heading for mobile size menu*/
h2
{
  
	color: teal;
	margin-left: 20px;
}
#menu
{
	float: right;
}
#columns
{
	height: 275px;
}
.imagecard{
	line-height: 100px;
	width:30px;
	margin-left: 7px;
	padding-bottom: 10px;
}
#extra {
	font-size: 35px;
	color: teal;
	margin-top: 50px;
	margin-bottom: 20px;
	margin-left: 20px;


}
/*for second para of third column*/
#para1
{
	margin-top: 52px;
}
/*jumbotron image*/
.jumbo
{
margin-top: -14px;
margin-right: -8px;
}
/*when it is desktop size*/
	#web{
		display: flex;
	}
	#mob {
		display: none;
	}
@media only screen and (max-width:770px){
	#column1{
		margin-top: 10000px;
	}
	#cards {
		margin-top: 420px;
	}
	/*when it is in mobile size*/
	#web{
		display: none;
	}
	#mob {
		display: flex;
	}
}

</style>